html{
    color: white;
    background: #470E0E;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
    height: auto;
    width: 100%;
}

body::-webkit-scrollbar {
    width: 12px;
}
  
body::-webkit-scrollbar-track {
    background: rgba(71, 14, 14, 1);
}
  
body::-webkit-scrollbar-thumb {
    background-color: rgba(142, 28, 28, 1);
    border-radius: 20px;
    border: 3px solid rgba(71, 14, 14, 1);
}

/*Navegaçao*/
.nav{
    position:fixed;
    width: 100%;
    height: 10%;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(#470e0e, #88888800);
}

.nav ul{
    display: flex;
    list-style-type: none;
    padding: 0px 25px;
    width: 100%;
    justify-content: flex-end;
}

.nav li{
    padding: 0px 10px;
}

.nav img{
    width: 90px;
    height: 23px;
}

.nav ul li p{
    color: #ffffff;
}

a, span{
    color: rgb(255, 255, 255);
    text-decoration: none;  
}

a{
    display: flex;
    align-items: center;
    align-self: center;  
}



.apps{
    display: flex;
    align-items: center;
    padding: 10px;
}

.apps a img{
    width: 130px;
    height: 130px;
    border-radius: 10%;

}

.apps ul{
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    align-items: center;
    justify-self: center;
}

.app1{
    padding: 30px 10px 10px 10px;
}



/*Rodape*/
.rodape{
    display: flex;
    margin: 0;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    height: 10%;
    width: 100%;
    background-image: linear-gradient(#88888800, #470e0e);
}

span{
    padding: 2px;
}

.rodape a {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 12px;
}

.rodape p{
    padding: 0;
    margin: 0;
    display: flex;
}

a:hover, .rodape p:hover, span:hover, .nav p:hover{
    color: rgb(235, 0, 0);
}

.rodape p{
    padding: 0;
    margin: 0;
    display: flex;
}



@media screen and (max-width: 750px) {
    .apps{
        flex-direction: column;
        align-items: center;
        padding: 5px;
    }

}