html{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    width: auto;
    height: auto;
}

body{
    margin: 0;
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
}

body::-webkit-scrollbar {
    width: 12px;
}
  
body::-webkit-scrollbar-track {
    background: rgba(71, 14, 14, 1);
}
  
body::-webkit-scrollbar-thumb {
    background-color: rgba(142, 28, 28, 1);
    border-radius: 20px;
    border: 3px solid rgba(71, 14, 14, 1);
}

nav{
    width: 100%;
}

nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-evenly;
}

nav ul, nav ul li a, .sair, .titulo, .android{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    padding: 0;
}

nav ul .sair a{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

nav ul .titulo p{
    color: rgb(235, 0, 0);
    font-size: 25px;
}

.android {
    color: white;
    display: flex;
}

.android p{
    padding: 4px;
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
}

nav .titulo p:hover, nav .sair a:hover, .apps a:hover{
    color: rgb(235, 0, 0);
}



body .apps{
    display: flex;
    flex-direction: column;
    align-items: center;
}

body .apps img{
    width: 150px;
    height: 150px;
    border-radius: 10%;
}

body .apps .contente ul{
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    padding: 0;
}

body .apps ul{
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.bt{
    border: 2px solid;
    border-color: rgb(235, 0, 0);
    border-radius: 50px;
    width: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(235, 0, 0);
    color: black;
}

.bt a{
    color: black;
}

.bt a:hover, .bt:hover{
    color: white;
    border-color: white;
}



.tela{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.slider {
    display: block;
    margin: auto;
    margin-top: 20px;
    position: relative;
    width: 275px;
    height: 575px;
    overflow: hidden;
    padding: 0px 0px;
}

.slider li {
    list-style: none;
    position: absolute;
    border-radius: 25px;
}

.slider img {
    margin: auto;
    height: 100%;
    width: 100%;
    vertical-align: top;
}

.slider input {
    display: none;
}

.slider label {
    background-color: #000;
    bottom: 15px;
    cursor: pointer;
    display: flex;
    height: 12px;
    position: absolute;
    width: 50px;
    z-index: 10;
    margin: 10px;
}

.slider img{
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.nav{
    display: flex;
    padding: 5px 0px;
    overflow-x: auto;
    flex-wrap:wrap;
}

.bar{
    width: 50px;
    height: 12px;
    border: 2px solid white;
    border-radius: 10px;
    margin: 2px;
    cursor: pointer;
    transition: 0.4s;
}

.bar:hover{
    background-color: white;
}



@media screen and (max-width: 750px) {
    body nav ul li .imag {
        width: 0%;
        height: 0%;
        color: #00000000;
    }

}

@media screen and (max-width: 575px) {
    iframe {
        width: 420px;
        height: 236px;
    }

}

@media screen and (max-width: 435px) {
    iframe{
        width: 280px;
        height: 157px;
    }

}

@media screen and (max-width: 155px) {
    iframe{
        width: 140px;
        height: 78px;
    }

}